<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta charset="utf-8">
    <meta name="google" value="notranslate">
    <meta name="referrer" content="strict-origin">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="assets/js/form2.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/form.css">
    <!--
    <link rel="localization" hreflang="en" href="assets/js/l10n/en.json" type="application/l10n+json" >
    -->
    <title>Symptom Survey for COVID-19 Tracking</title>
</head>


<body>
<h1 id="in_page_title">COVID-19 Symptom Tracking Survey</h1>

<!-- HOUSEHOLD -->
<div id="form_pane">
    <div class="profile" id="profilediv">

        <h2>Household</h2>

        <div class="explainer">
            <p>The following questions will be used to create your profile, so that you may login in
                for subsequent reports track your situation as the pandemic progresses.</p>
            <p>To ensure anonymity you may create a hashed User Identity instead of using an email
                address. The hashed "User Identity" will be stored as a cookie, you will not be
                required to login again as long as your cookie exists and has not expired.</p>
            <p>Please Record your "User Identity" and your pass-code, in case you delete your
                cookies or need to access the survey from a different machine. It is very
                important that your responses be linked to an (anonymous) identifier to track
                progression over time.</p>
        </div>

        <!--    HOUSEHOLD:IDENTITY    -->
        <div class="section">
            <h3>Identity</h3>
            <div class="explainer">
                <p>These fields are used to anonymously identify your household, and correlate
                    your future reports to the same household.</p>
            </div>
            <div class="field">
                <label>Email (Optional):
                    <input type="email" class="" id="usr_email" name="email" value="">
                </label>

            </div>
            <div class="field">
                <label>User Identity:
                    <input type="text" id="usr_identity">
                </label>

            </div>
            <div class="field">
                <label>Passcode:
                    <input type="password" class="" id="usr_pass" name="pwd_input" value="">
                </label>
            </div>
            <div class="field">
                <label>Confirm Passcode:
                    <input type="password" class="" id="usr_pass_conf" name="pwd_input_confirm"
                           value="">
                </label>
            </div>
        </div>

        <!--     HOUSEHOLD:LOCATION   -->
        <div class="section">
            <h3>Location</h3>
            <a data-toggle="collapse" href="#locationdiv" role="button" class="collapse show"
               aria-expanded="false"
               aria-controls="multiCollapseExample1">Provide Location
                Details</a>

            <div class="collapse" id="locationdiv">
                <div class="explainer">
                    <p>The following questions will collect anonymous, regional information
                        about
                        your profile. This information will be used to associate reports to
                        geographical areas for analysis, and should not be personally
                        identifiable.</p>
                    <p>Household ID is a unique hash value to distinguish different households
                        within
                        your area, you may enter a name of your choosing or use an
                        automatically-generated unique identifier.</p>
                    <p> Location data will only be generated with your consent. If you consent
                        to
                        using location data you will be able to choose. The map interface will
                        allow
                        you to control the degree of accuracy.</p>
                </div>
                <div class="section">
                    <div class="field">
                        <label>Country:
                            <select id="usr_country" required>
                                <option value="0">Select Country</option>
                                <option value="1">Canada</option>
                            </select>
                        </label>
                    </div>
                    <div class="field">
                        <label>Region:
                            <input type="text" id="usr_region" placeholder="Enter your region">
                        </label>
                    </div>
                    <div class="field">
                        <label>City:
                            <input type="text" id="usr_city">
                        </label>
                    </div>
                    <div class="field">
                        <label>Street:
                            <input type="text" id="usr_street">
                        </label>
                    </div>
                    <div class="field">
                        <label>Postal Code:
                            <input type="text" id="usr_pcode">
                        </label>
                    </div>
                    <div class="field">
                        <label>Household ID:
                            <input type="text" id="usr_house_id">
                        </label>
                    </div>
                    <button id="btnsubmit">Submit Data</button>
                </div>
            </div>


        </div>

        <!--    HOUSEHOLD:MEMBERS    -->
        <div class="section">
            <h3>Household Members</h3>
            <div class="explainer">
                <p>Please assign each member of your household a unique number, incrementing from 1,
                    and
                    make note of each member's number.</p>
                <p>These numbers will be used in subsequent reports to
                    track the symptom progression of each household member. </p>
            </div>
            <div class="field">
                <label>Number of Household Members:
                    <span id="slider_value2" style="color:red;font-weight:bold;"></span><br>
                    1 <input type="range" min="0" max="5" step="1" min="1" max="100" step="1"
                             id="usr_total_members"
                             name="sld6" value=1">
                    100
                </label>
            </div>
            <div class="explainer">
                <p>Please provide basic stats for each household member, to assist researchers
                    in
                    statistical analysis.</p>
            </div>
            <div id="memberdata"></div>
        </div>

    </div>

    <!-- MEMBER -->
    <div class="profile" id="member">
        <h2>Household Member</h2>

        <div class="explainer">
            <p>Please answer the following questions in respect to each household member separately.
                This information will be incorporated into statistical models used to analyze and
                research the COVID-19 pandemic and its spread, and may save lives. Please answer
                each question as accurately as you can.</p>
        </div>

        <!--    MEMBER:SYMPTOMS    -->
        <div class="section">
            <h3>Symptoms</h3>
            <div class="explainer">
                <p>Please describe the household member's symptoms. If no symptoms are present,
                    please leave fields at their default settings. Please <i>do not</i> report
                    symptoms predating Dec 1, 2019.</p>
            </div>

            <div class="field">
                <label>Cough:
                    <input type="range" min="0" max="5" step="1">
                </label>
                <label>Productive:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Pneumonia:
                    <input type="checkbox">
                </label>
            </div>

            <div class="field">
                <label>Difficulty Breathing:
                    <input type="range" min="0" max="4" step="1" list="dl_diff_breathing">
                </label>
                <datalist id="dl_diff_breathing">
                    <option value="0" label="none"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4" label="severe"></option>
                </datalist>
            </div>

            <div class="field">
                <label>Difficulty Walking:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Appetite:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Diarrhea:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Muscle Ache:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>General Fatigue:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Runny or Congested Nose:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Sore Throat:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>


            <div class="field">
                <label>Fever:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Headache:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>


            <div class="field">
                <label>Dizzy / Lightheaded:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Nausea:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>Chills:
                    <input type="range" min="0" max="5" step="1">
                </label>
            </div>

            <div class="field">
                <label>General Pain:
                    <input type="checkbox">
                </label>
            </div>


        </div>

        <!--    MEMBER:TRANSMISSION   -->
        <div class="section">
            <h3>Transmission</h3>
            <div class="explainer">
                <p>Please provide the following information about the isolation level of the
                    household member. The following questions will assist in regional containment
                    and mitigation, and in determining the level of self-isolation practiced
                    within a region. Please answer these questions carefully and honestly.</p>
            </div>

            <div class="field">
                <label>Isolation:
                    <input type="range" step="1">
                </label>
            </div>

            <div class="field">
                <label>Distance Travelled:
                    <input type="range" step="1">
                </label>
            </div>

            <div class="field">
                <label>Surface Exposure:
                    <input type="range" step="1">
                </label>
            </div>

            <div class="field">
                <label>Human Exposure:
                    <input type="range" step="1">
                </label>
            </div>

        </div>

        <!--     MEMBER:CLINICAL FINDINGS      -->
        <div class="section">
            <h3>Clinical Findings</h3>
            <div class="explainer">
                <p>If this household member has undergone clinical testing for COVID-19, please let
                    us know what the findings where. This will greatly assist researchers in
                    building predictive models of how symptom progression relates to actual
                    infection rates, and will allow us to improve the survey as well.</p>
            </div>

            <div class="field">
                Test Results:
                <label>Positive
                    <input type="radio" name="test_results">
                </label>
                <label>Negative
                    <input type="radio" name="test_results">
                </label>
            </div>

            <div class="field">
                <label>Recovered:
                    <input type="checkbox">
                </label>
            </div>

            <div class="field">
                <label>Hospitalized:
                    <input type="checkbox">
                </label>
            </div>
            <div class="field">
                <label>Mechanical Ventilation:
                    <input type="checkbox">
                </label>
            </div>
            <div class="field">
                <label>Oxygen Support:
                    <input type="checkbox">
                </label>
            </div>

            <div class="field">
                <label>Additional Symptoms:
                    <input type="text">
                </label>
            </div>

        </div>

    </div>
</div>


</body>

</html>