<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/form.css"/>
    <!--    <script src="assets/js/form.js"></script>-->
    <meta charset="UTF-8">
    <title>COVID-19 Symptom Survey</title>
</head>
<body>


<form>
    <h1>COVID-19 Symptom Tracking Survey</h1>

    <section id="household">
        <h2>Household</h2>

        <div class="explainer">
            <p>The following questions will be used to create your profile, so that you may login in
                for subsequent reports track your situation as the pandemic progresses.</p>
            <p>To ensure anonymity you may create a hashed User Identity instead of using an email
                address. The hashed "User Identity" will be stored as a cookie, you will not be
                required to login again as long as your cookie exists and has not expired.</p>
            <p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>
        </div>

        <fieldset id="h_identity">
            <legend>Identity</legend>

            <div class="explainer">
                <p>These fields are used to anonymously identify your household. This is
                    necessary to correlate your future reports to this household.</p>
                <p>Please write down your household's unique identifier, along with your chosen
                    passcode, in case you delete your cookies or need to access the survey from a
                    different machine. </p>
            </div>

            <div class="fieldset_container">
                <div class="field_container">
                    <label for="h_id_email">Email Address:</label>
                    <input id="h_id_email" type="email">
                </div>

                <div class="field_container">
                    <label for="h_id_uid">Unique Identifier:</label>
                    <input id="h_id_uid" type="text">
                </div>

                <div class="field_container">
                    <label for="h_id_pass">Passcode:</label>
                    <input id="h_id_pass" type="password">
                </div>

                <div class="field_container">
                    <label for="h_id_pass_confirm">Confirm Passcode:</label>
                    <input id="h_id_pass_confirm" type="password">
                </div>
            </div>

        </fieldset>

        <fieldset id="h_location">
            <legend>Location</legend>
            <div class="explainer">
                <p> Location data will only be generated with your consent. If you consent
                    to using location data you will be able to choose. The map interface will
                    allow you to control the degree of accuracy.</p>
            </div>
            <div class="fieldset_container">
                <div class="field_container">
                    <label for="h_loc_country">Country:</label>
                    <input list="country" id="h_loc_country">
                </div>

                <div class="field_container">
                    <label for="h_loc_region">Region:</label>
                    <input list="region" id="h_loc_region">
                </div>

                <div class="field_container">
                    <label for="h_loc_city">City:</label>
                    <input list="city" id="h_loc_city">
                </div>

                <div class="field_container">
                    <label for="h_loc_street">Street:</label>
                    <input type="text" id="h_loc_street">
                </div>

                <div class="field_container">
                    <label for="h_loc_pcode">Postal Code:</label>
                    <input type="text" id="h_loc_pcode" maxlength="10">
                </div>
            </div>
        </fieldset>

        <fieldset id="h_members">
            <legend>Household Members</legend>
            <div class="explainer">
                <p>Please assign each member of your household a unique number, incrementing from 1,
                    and make note of each member's number.</p>
                <p>These numbers will be used in subsequent reports to track the symptom
                    progression of each household member. </p>
            </div>
            <div class="fieldset_container">
                <div class="field_container">
                    <label for="h_mem_count">Number of Members:</label>
                    <input id="h_mem_count" type="number" min="1" step="1">
                </div>

                <div class="explainer">
                    <p>Please provide basic stats for each household member, to assist researchers
                        in statistical analysis.</p>
                </div>

                <div class="field_container">
                    <label for="h_mem_age">Age: </label>
                    <input id="h_mem_age" type="number" min="0" step="1">
                </div>

                <div class="field_container">
                    <label for="h_mem_bio_gender">Biological Gender:</label>
                    <input id="h_mem_bio_gender" list="bio_gender" required>
                </div>

            </div>
        </fieldset>
    </section>

    <section id="member">
        <h2>Household Member</h2>
        <div class="explainer">
            <p>Please answer the following questions for each individual household member.
                Responses will be incorporated into statistical models used to analyze and
                research the COVID-19 pandemic and its spread, and may save lives. Please answer
                each question as accurately as you can.</p>
            <p>Currently reporting for household member: <select id="m_cur_member">
                <option>1</option>
            </select>/<span id="m_max_member">N</span></p>
        </div>

        <fieldset id="m_symptoms">
            <legend>Symptoms</legend>

            <div class="explainer">
                <p>Please describe the household member's symptoms. If no symptoms are present,
                    please leave fields at their default settings. Please <i>do not</i> report
                    symptoms predating Dec 1, 2019.</p>
            </div>

            <div class="fieldset_container">
                <div class="field_container">
                    <label for="m_symp_cough">Cough:</label>
                    <input id="m_symp_cough" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_cough_productive">How Productive?</label>
                    <input id="m_symp_cough_productive" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_symp_pneumonia">Pneumonia:</label>
                    <input id="m_symp_pneumonia" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_symp_breathing">Difficulty Breathing</label>
                    <input id="m_symp_breathing" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_walking">Difficulty Walking</label>
                    <input id="m_symp_walking" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_appetite">Appetite</label>
                    <input id="m_symp_appetite" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_diarrhea">Diarrhea:</label>
                    <input id="m_symp_diarrhea" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_muscle_pain">Muscle Pain:</label>
                    <input id="m_symp_muscle_pain" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_fatigue">Fatigue:</label>
                    <input id="m_symp_fatigue" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_nose">Runny Nose or Congestion:</label>
                    <input id="m_symp_nose" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_throat">Sore Throat:</label>
                    <input id="m_symp_throat" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_fever">Fever</label>
                    <input id="m_symp_fever" type="number" min="36" max="43" step="0.1"
                           value="36.7">
                </div>

                <div class="field_container">
                    <label for="m_symp_headache">Headache</label>
                    <input id="m_symp_headache" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_dizziness">Dizziness/Lightheaded:</label>
                    <input id="m_symp_dizziness" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_nausea">Nausea:</label>
                    <input id="m_symp_nausea" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_chills">Chills/Shivering:</label>
                    <input id="m_symp_chills" type="range" min="0" max="5" step="1">
                </div>

                <div class="field_container">
                    <label for="m_symp_general_pain">Generalized Pain:</label>
                    <input id="m_symp_general_pain" type="checkbox">
                </div>
            </div>
        </fieldset>

        <fieldset id="m_transmission">
            <legend>Transmission</legend>
            <div class="explainer">
                <p>Please provide the following information about the isolation level of the
                    household member. The following questions will assist in regional containment
                    and mitigation, and in determining the level of self-isolation practiced
                    within a region. Please answer these questions carefully and honestly.</p>
            </div>

            <div class="fieldset_container">
                <div class="field_container">
                    <label for="m_trans_isolation">Level of Isolation:</label>
                    <input id="m_trans_isolation" type="range" min="0" max="5" step="1">
                </div>
                <div class="field_container">
                    <label for="m_trans_distance">Farthest Travelled:</label>
                    <input id="m_trans_distance" type="range" min="0" max="5" step="1">
                </div>
                <div class="field_container">
                    <label for="m_trans_surface">Surface Exposure:</label>
                    <input id="m_trans_surface" type="range" min="0" max="5" step="1">
                </div>
                <div class="field_container">
                    <label for="m_trans_human">Human Exposure:</label>
                    <input id="m_trans_human" type="range" min="0" max="5" step="1">
                </div>
            </div>
        </fieldset>

        <fieldset id="m_labresults">
            <legend>Clinical Results</legend>

            <div class="explainer">
                <p>If this household member has undergone clinical testing for COVID-19, please let
                    us know what the findings were. This will greatly assist researchers in
                    building predictive models of how symptom progression relates to actual
                    infection rates, and will allow us to improve the survey as well.</p>
            </div>

            <div class="fieldset_container">
                <div class="field_container">
                    <label for="m_lab_tested">Clinically Tested:</label>
                    <input id="m_lab_tested" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_lab_result">Test Results:</label>
                    <input id="m_lab_result" list="lab_results" name="lab_results">
                </div>

                <div class="field_container">
                    <label for="m_lab_hospitalized">Hospitalized:</label>
                    <input id="m_lab_hospitalized" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_lab_hosp_days">Days in Hospital:</label>
                    <input id="m_lab_hosp_days" type="number" step="1">
                </div>

                <div class="field_container">
                    <label for="m_lab_hosp_icu">Admitted to ICU:</label>
                    <input id="m_lab_hosp_icu" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_lab_recovered">Has Recovered:</label>
                    <input id="m_lab_recovered" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_lab_ventilation">Mechanical Ventilation:</label>
                    <input id="m_lab_ventilation" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_lab_oxygen">Oxygen Support:</label>
                    <input id="m_lab_oxygen" type="checkbox">
                </div>

                <div class="field_container">
                    <label for="m_lab_symptoms">Other Symptoms:</label>
                    <input id="m_lab_symptoms" type="text" placeholder="Comma-Separated List">
                </div>
            </div>
        </fieldset>

        <div id="m_controls">
            <input id="m_nav_prev" type="button" value="< Previous">
            <input id="m_nav_next" type="button" value="Next >">
        </div>
    </section>
</form>


<!--  SUPPORTING DATA  -->
<datalist id="bio_gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</datalist>
<datalist id="lab_results">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
    <option value="unknown">Unknown</option>
</datalist>
<datalist id="country"></datalist>
<datalist id="region"></datalist>
<datalist id="city"></datalist>

<!--  COLLAPSING SCRIPT  -->
<script type="application/javascript">
    for (let header of document.querySelectorAll("h2, legend")) {
        header.classList.add("collapsible");
        header.addEventListener("click", () => {
            Array.from(header.parentNode.children)
                .filter(n => n !== header)
                .forEach(n => n.classList.toggle("hidden"))
        });
        header.click()
    }
</script>

</body>
</html>