<!doctype html>
<html lang="en" dir="ltr">
<head>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
	<meta charset="utf-8">
	<meta name="google" value="notranslate">
	<meta name="referrer" content="strict-origin">

	<link  rel="stylesheet"  type="text/css" href="assets/css/bootstrap.min.css"  />
	<link  rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"  />
	<link  rel="stylesheet"  type="text/css" href="assets/css/bootstrap-responsive.min.css"  />
	<link rel="stylesheet" href="assets/css/curvestomp.css"></link>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	   crossorigin=""/>
	
	<!-- 
	<link rel="localization" hreflang="en" href="assets/js/l10n/en.json" type="application/l10n+json" >
	-->
	
	
	<title>CurveStomp COVID-19 Self-Reporting Questionnaire</title>
</head>
<body>
    <h1>Welcome to Symptometer.io-Site is currently under construction</h1>