<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>symptometer.io</title>
</head>
<body>
<div style="margin:auto;width:60%;">
    <h1>DEV SITE</h1>
    <h1>symptometer.io is under construction</h1>
    <p>Please return in a bit.</p>
    <p>Thank you for your patience, and please stay safe.</p>
    <p>--Symptometrics Team</p>

</div>
<img src="../assets/images/coming-soon-banner.jpg" alt="Coming Soon">
​
</body>
</html>
​