<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css" />
    <script type="text/javascript" src="/assets/js/household.js"></script>
    <meta charset="UTF-8">
    <title>COVID-19 Symptom Survey</title>
</head>

<body>
    <h3>Household Profile:<%= guid%></h3>
    <fieldset id="h_members">
        <legend>Household Members</legend>
        <div class="explainer">
            <p>In this section you’ll provide basic medical information about the members of
                your household. If members join or leave your household, you will be able to
                modify this list in your next report.</p>

            <p>We will convert each member’s information into a designator which should allow
                you to more easily identify them in the list. The designator is constructed from
                their age, biological sex, and a two-letter alias of your choosing. For example,
                the designator for a 35-year-old Male with the alias “JG” would be 35M-JG. The
                designator for each member of your household must be unique.</p>
        </div>

        <fieldset class="h_member_row" id="h_member_row">
            <legend>AAAS-NN</legend>
            <div class="fieldset_container">
                <div class="field_container">
                    <label for="h_mem_age">Age:</label>
                    <input id="h_mem_age" type="number" min="0" step="1" required>
                </div>

                <div class="field_container">
                    <label for="h_mem_bio_gender">Sex:</label>
                    <select id="h_mem_bio_gender" required>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>

                <div class="field_container">
                    <label for="h_mem_alias">Alias:</label>
                    <input id="h_mem_alias" type="text" maxlength="2" required>
                </div>

                <div class="controls">
                    <input type="button" id="h_mem_save" value="Save">
                    <input type="button" id="h_mem_del" value="Delete">
                </div>

            </div>
            <input type="button" id="h_mem_add" value="Add Member">
        </fieldset>

</body>
</html>
