<!doctype html>
<html lang="en" dir="ltr">
<head>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
	<meta charset="utf-8">
	<meta name="google" value="notranslate">
	<meta name="referrer" content="strict-origin">

	<link  rel="stylesheet"  type="text/css" href="assets/css/bootstrap.min.css"  />
	<link  rel="stylesheet"  type="text/css" href="assets/css/jquery-ui.min.css"  />
	<link  rel="stylesheet"  type="text/css" href="assets/css/bootstrap-responsive.min.css"  />
	<link rel="stylesheet" href="assets/css/curvestomp.css"></link>
	<title>COVID-19 Self-Reporting Questionnaire</title>
</head>
<body>
	<h1>COVID-19 Self-Reporting Questionnaire</h1>
  
	<div id="content_main" class="col-sm-12" >
		
		<div id="action_buttons" class="col-sm-12 register_form" >
			<div class="row " >
				<div id="" class="col-sm-4 " >
					<button type="button" name="register_form" class="btn " onclick="pageSingle('register_form')">Register</button>
				</div>
				<div id="" class="col-sm-4 " >
					<button type="button" name="report_symptom_status" class="btn "  onclick="pageSingle('symptom_status_form')">Report Symptom Status</button>
				</div>
				<div id="" class="col-sm-4 " >
					<button type="button" name="report_resource" class="btn "  onclick="pageSingle('resource_status_form')">Report Resource</button>
				</div>
				
			</div>
		</div>
		<div class="section row" id="identity">
			<div class="row " >
				<h2>Identity Profile</h2>
				<div class="question" id="first_time">
					Is this your first time reporting? <input type="checkbox" class="question" id="first_time" name="first_time" value="">
				</div>
				<br>
				<!-- GOTO 'location' -->
				<p>The following questions will be used to create your anonymous profile, so that <br>
					a) you won't have to fill out some information multiple times and <br>
					b) to track your responses as the pandemic progresses.
				</p>
			</div>
			<div class="row " >
				<div id="" class="col-sm-2 question" >
					Email *(optional)
				</div>
				<div id="" class="col-sm-4 " >
					<input type="text" class="question" id="email" name="email" value="">
				</div>
			</div>
			<div class="row " >
				<div id="" class="col-sm-2 question" >
					Identity
				</div>
				<div id="" class="col-sm-4 " >
					<input type="text" class="question" id="hash_to_user_guid" name="hash_to_user_guid" value="">
				</div>
			</div>
			<div class="row " >
				<div id="" class="col-sm-2 question" >
					Passcode
				</div>
				<div id="" class="col-sm-4 " >
					<input type="password" class="question" id="pwd_input" name="pwd_input" value="">
				</div>
			</div>
			<div class="row " >
				<div id="" class="col-sm-2 question" >
					Confirm
				</div>
				<div id="" class="col-sm-4 " >
					<input type="password" class="question" id="pwd_input_confirm" name="pwd_input_confirm" value="">
				</div>
			</div>
			
			<div class="row " >
				<div class="section" id="household">
					<div class="row " >
						<h3>Household Profile</h3>
						<p>Please assign each member of your household a unique number, incrementing from 1, and
							make note of each member's number. These numbers will be used in subsequent reports to
							track the symptom progression of each household member.
						</p>
					</div>
					<div class="row " >
						<div id="" class="col-sm-2 question" >
							Household Members:
						</div>
						<div id="" class="col-sm-1 " >
							<input type="text" class="question int_field" width="1"  name="household_size" value="0">
						</div>
						<div id="" class="col-sm-4 " >
							<div class="question " id="household_size"></div>
						</div>
							 
					</div>
					<div class="row " >
						<p>Please provide basic stats for each household member, to assist researchers
							in statistical analysis.
						</p>
					
					</div>
					<div class="row " id="household_members" >

					</div>
				</div>
			</div>

			<div class="button" id="identity_submit">
				<!-- submit hash(id + passcode) -->
			</div>
		</div>

		<div id="register_form" class="col-sm-12 register_form" style="display:none;" >
			Self Reporting Registration form
			<div class="row " >
				<div id="" class="col-sm-2 " >
					Country
				</div>
				<div id="country_container" class="col-sm-2 " >
					<input type="text" class="" id="country" name="country" value="">
					<input type="hidden" class="" id="country_iso" name="country_iso" value="">
				</div>
				<div id="" class="col-sm-2 " >
					Region
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="region" name="region" value="">
				</div>
				<div id="" class="col-sm-2 " >
					City
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="city" name="city" value="">
				</div>
				
			</div>
			<div class="row " >
				<div id="" class="col-sm-2 " >
					Street
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="street" name="street" value="">
				</div>
				<div id="" class="col-sm-2 " >
					postal code
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="postal_code" name="postal_code" value="">
				</div>
				<div id="" class="col-sm-2 " >
					household GUID
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="household_guid" name="household_guid" value="">
				</div>
			</div>
			<div class="row " >
				<div id="" class="col-sm-2 " >
					email
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="email" name="email" value="">
				</div>
				<div id="" class="col-sm-2 " >
					Age
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="age" name="age" value="">
				</div>
				<div id="" class="col-sm-2 " >
					gender
				</div>
				<div id="" class="col-sm-2 " >
					<input type="text" class="" id="gender" name="gender" value="">
				</div>
			</div>
			<div class="row " >
				<div id="" class="col-sm-12 " >
					<button type="submit" name="Submit" class="btn ">Submit</button>
				</div>
			</div>
		</div>
		<div id="symptom_status_form" class="col-sm-12 register_form" style="display:none;" >
			symptom_status_form
		
		</div>
		<div id="resource_status_form" class="col-sm-12 register_form" style="display:none;" >
			resource_status_form
		
		</div>
		
	</div>
	
	
<div style="display: none;">
	<div template="country_select" country_select >
		<select name="country_select" id="country_select" class="select-css"  title="country" onchange="setCountry();">
			<option value="" selected >-- Select Country --</option>
		</select>
	</div>

	<div template="household_member" household_member >
				<div class="row member_row" >
					<div id="" class="col-sm-1 question household_member_stats" household-member_id>
						Member  household-member_id
					</div>
					<div id="" class="col-sm-1 question household_member_stats" >
						Age
					</div>
					<div id="" class="col-sm-1 " >
						
						<input type="text" class="question household_member_stats int_field" id="age" name="member_age[]" value="">
					</div>
					<div id="" class="col-sm-1 question household_member_stats" >
						Gender
					</div>
					<div id="" class="col-sm-1 " >
						<input type="text" class="question household_member_stats" id="household-guid" name="member_gender[]" value="">
					</div>
				</div>
	</div>
	
</div>
	
<script  type="text/javascript"    src="assets/js/jquery.min.js" ></script>
<script  type="text/javascript"    src="assets/js/jquery-ui.min.js" ></script>
<script  type="text/javascript"    src="assets/js/curvestomp.js" ></script>
<script  type="text/javascript"    src="assets/js/countries.js" ></script>


<script  type="text/javascript" >
	if($( '#household_size' )){
		household_members = 1;
		
		$( "#household_size" ).slider({
			value: 1,
			min: 1,
			max: 9,
			slide: function( event, ui ) {
				console.log("ui.value"+JSON.stringify(ui.value, null, 2));
				
				$( "[name=household_size]" ).val(ui.value);
				household_members = ui.value;
				CurveStomp.registration.setMembers(household_members);
			},
			start: function( event, ui ) {
				var current = $('#household_members').find(".member_row").length;
				console.log("START: current "+JSON.stringify(current, null, 2));
				if(current >0){
					console.log("START: NADA");
					
					return;
				}
				console.log("START: FIRST");
				$( "[name=household_size]" ).val(1);
				CurveStomp.registration.setMembers(1);
			},
			change: function( event, ui ) {
				//console.log("CHANGE"+JSON.stringify(ui, null, 2));
			}
			
		});
	}
	
	if($( '#country' )){
		$( '#country' ).on( 'focus', function() {
			if('' == $( '#country' ).val()){
				console.log('make dropdown');
				$( '#country' ).val(' ');
				$( '#country' ).hide();
				var country = '';
				var htmlTemplate = $('[template="country_select"]').clone(true);
				var renderedHTML = CurveStomp.templater.renderHTML('country', {}, htmlTemplate);
				
				$('#country_container').append(renderedHTML);
				htmlTemplate.removeAttr('template');
				
				var country_select = $('#country_container').find('#country_select');
				
				$.each(countries, function( key, value ) {
					//console.log('key: '+key+' value: '+JSON.stringify(value, null, 2));
					$(country_select).append($("<option></option>").attr("value",value.id).text(value.text)); 
				});
				
			}
		});
	
	}


</script>
	
	
	
	
	
	
	
</body>
</html>


